{
  "openapi": "3.0.0",
  "info": {
    "title": "DigitalOcean API",
    "version": "2.0",
    "description": "",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "contact": {
      "name": "DigitalOcean API Team",
      "email": "api-engineering@digitalocean.com"
    },
    "termsOfService": "https://www.digitalocean.com/legal/terms-of-service-agreement/"
  },
  "servers": [
    {
      "url": "https://api.digitalocean.com",
      "description": "production"
    }
  ],
  "tags": [
    {
      "name": "Public APIs Introduction",
      "x-displayName": "Introduction",
      "x-traitTag": true,
      "description": {
        "$ref": "description.yml#/introduction"
      }
    },
    {
      "name": "1-Click Applications",
      "description": "1-Click applications are pre-built Droplet images or Kubernetes apps with software,\nfeatures, and configuration details already set up for you. They can be found in the\n[DigitalOcean Marketplace](https://marketplace.digitalocean.com/)."
    },
    {
      "name": "Account",
      "description": "Provides information about your current account."
    },
    {
      "name": "Actions",
      "description": "Actions are records of events that have occurred on the resources in your account.\nThese can be things like rebooting a Droplet, or transferring an image to a new region.\n\nAn action object is created every time one of these actions is initiated. The action\nobject contains information about the current status of the action, start and complete\ntimestamps, and the associated resource type and ID.\n\nEvery action that creates an action object is available through this endpoint. Completed\nactions are not removed from this list and are always available for querying.\n\n**Note:** You can pass the following HTTP header with the request to have the API return\nthe `reserved_ips` stanza instead of the `floating_ips` stanza:\n\n- `Accept: application/vnd.digitalocean.reserveip+json`"
    },
    {
      "name": "Add-Ons",
      "description": "Add-ons are third-party applications that can be added to your DigitalOcean account.\nThey are available through the [DigitalOcean Marketplace](https://marketplace.digitalocean.com/).\nAdd-ons can be used to enhance the functionality of your existing resources or to provide\nadditional services.\n\nThe Add-Ons API allows you to manage these resources, including creating, listing, and retrieving\ndetails about specific add-on resources."
    },
    {
      "name": "Apps",
      "description": "App Platform is a Platform-as-a-Service (PaaS) offering from DigitalOcean that allows\ndevelopers to publish code directly to DigitalOcean servers without worrying about the\nunderlying infrastructure.\n\nMost API operations are centered around a few core object types. Following are the\ndefinitions of these types. These definitions will be omitted from the operation-specific\ndocumentation.\n\nFor documentation on app specifications (`AppSpec` objects), please refer to the\n[product documentation](https://docs.digitalocean.com/products/app-platform/reference/app-spec/))."
    },
    {
      "name": "Billing",
      "description": "The billing endpoints allow you to retrieve your account balance, invoices,\nbilling history, and insights.\n\n**Balance:** By sending requests to the `/v2/customers/my/balance` endpoint, you can\nretrieve the balance information for the requested customer account.\n\n**Invoices:** [Invoices](https://docs.digitalocean.com/platform/billing/invoices/)\nare generated on the first of each month for every DigitalOcean\ncustomer. An invoice preview is generated daily, which can be accessed\nwith the `preview` keyword in place of `$INVOICE_UUID`. To interact with\ninvoices, you will generally send requests to the invoices endpoint at\n`/v2/customers/my/invoices`.\n\n**Billing History:** Billing history is a record of billing events for your account.\nFor example, entries may include events like payments made, invoices\nissued, or credits granted. To interact with invoices, you\nwill generally send requests to the invoices endpoint at\n`/v2/customers/my/billing_history`.\n\n**Billing Insights:** Day-over-day changes in billing resource usage based on nightly invoice items,\nincluding total amount, region, SKU, and description for a specified date range.\nIt is important to note that the daily resource usage may not reflect month-end billing totals when totaled for\na given month as nightly invoice items do not necessarily encompass all invoicing factors for the entire month.\n  `v2/billing/{account_urn}/insights/{start_date}/{end_date}` where account_urn is the URN of the customer\naccount, can be a team (do:team:uuid) or an organization (do:teamgroup:uuid). The date range specified by\nstart_date and end_date must be in YYYY-MM-DD format."
    },
    {
      "name": "Block Storage",
      "description": "[DigitalOcean Block Storage Volumes](https://docs.digitalocean.com/products/volumes/)\nprovide expanded storage capacity for your Droplets and can be moved\nbetween Droplets within a specific region.\n\nVolumes function as raw block devices, meaning they appear to the\noperating system as locally attached storage which can be formatted using\nany file system supported by the OS. They may be created in sizes from\n1GiB to 16TiB.\n\nBy sending requests to the `/v2/volumes` endpoint, you can list, create, or\ndelete volumes as well as attach and detach them from Droplets"
    },
    {
      "name": "Block Storage Actions",
      "description": "Block storage actions are commands that can be given to a DigitalOcean\nBlock Storage Volume. An example would be detaching or attaching a volume\nfrom a Droplet. These requests are made on the\n`/v2/volumes/$VOLUME_ID/actions` endpoint.\n\nAn action object is returned. These objects hold the current status of the\nrequested action."
    },
    {
      "name": "BYOIP Prefixes",
      "description": "Bring your own IP (BYOIP) lets you provision your own IPv4 network prefixes\nto your account, then assign those IPs to your DigitalOcean resources.\nBYOIP supports the following features:\n* IPv4 addresses\n* Network sizes of anywhere from `/24` (256 addresses) to `/18` (16,384 addresses)\n* Same API and management interface as our existing reserved IPs feature\n* Assignable to Droplets only"
    },
    {
      "name": "CDN Endpoints",
      "description": "Content hosted in DigitalOcean's object storage solution,\n[Spaces](https://docs.digitalocean.com/products/spaces/),\ncan optionally be served by our globally distributed Content Delivery\nNetwork (CDN). By sending requests to `/v2/cdn/endpoints`, you can list,\ncreate, or delete CDN Endpoints as well as purge cached content. To use a\ncustom subdomain to access the CDN Endpoint, provide the ID of a\nDigitalOcean managed TLS certificate and the fully qualified domain name\nfor the custom subdomain.\n\nCDN endpoints have a rate limit of five requests per 10 seconds."
    },
    {
      "name": "Certificates",
      "description": "In order to perform SSL termination on load balancers, DigitalOcean offers\ntwo types of [SSL certificate management](https://docs.digitalocean.com/platform/teams/manage-certificates):\n\n* **Custom**: User-generated certificates may be uploaded to DigitalOcean\nwhere they will be placed in a fully encrypted and isolated storage system.\n\n* **Let's Encrypt**: Certificates may be automatically generated by\nDigitalOcean utilizing an integration with Let's Encrypt, the free and\nopen certificate authority. These certificates will also be automatically\nrenewed as required."
    },
    {
      "name": "Container Registry",
      "description": "DigitalOcean offers the ability for you to create a\n[private container registry](https://docs.digitalocean.com/products/container-registry/)\nto store your Docker images for use with your Kubernetes clusters. This\ncontainer registry runs inside the same datacenters as your cluster,\nensuring reliable and performant rollout of image deployments.\n\nYou can only create one registry per DigitalOcean account, but you can use\nthat registry to create as many repositories as you wish."
    },
    {
      "name": "Container Registries",
      "description": "DigitalOcean now supports up to nine additional registries (for a total maximum of 10) per team\nif your container registry uses the Professional subscription plan. The storage is shared among\nthe registries. This set of new APIs is backward compatible with `/v2/registry`. However, if you\ncreate more than one registry under a Professional plan, some of the `/v2/registry` APIs would not work.\nHence, it is recommended to use `/v2/registries` for multiple registries."
    },
    {
      "name": "Databases",
      "description": "DigitalOcean's [managed database service](https://docs.digitalocean.com/products/databases)\nsimplifies the creation and management of highly available database clusters. Currently, it\noffers support for [PostgreSQL](http://docs.digitalocean.com/products/databases/postgresql/),\n[Caching](https://docs.digitalocean.com/products/databases/redis/),\n[Valkey](https://docs.digitalocean.com/products/databases/valkey/),\n[MySQL](https://docs.digitalocean.com/products/databases/mysql/),\n[MongoDB](https://docs.digitalocean.com/products/databases/mongodb/), and\n[OpenSearch](https://docs.digitalocean.com/products/databases/opensearch/).\n\nBy sending requests to the `/v2/databases` endpoint, you can list, create, or delete\ndatabase clusters as well as scale the size of a cluster, add or remove read-only replicas,\nand manage other configuration details.\n\nDatabase clusters may be deployed in a multi-node, high-availability configuration.\nIf your machine type is above the basic nodes, your node plan is above the smallest option,\nor you are running MongoDB, you may additionally include up to two standby nodes in your cluster.\n\nThe size of individual nodes in a database cluster is represented by a human-readable slug,\nwhich is used in some of the following requests. Each slug denotes the node's identifier,\nCPU count, and amount of RAM, in that order.\n\nFor a list of currently available database slugs and options, use the `/v2/databases/options` endpoint or use the\n`doctl databases options` [command](https://docs.digitalocean.com/reference/doctl/reference/databases/options)."
    },
    {
      "name": "Dedicated Inference",
      "description": "[Dedicated Inference](https://docs.digitalocean.com/products/agent-platform/dedicated-inference/)\ndelivers scalable production-grade LLM hosting on DigitalOcean. Create, list, get, update,\nand delete Dedicated Inference instances; manage accelerators, CA certificate, sizes,\nGPU model config, and access tokens."
    },
    {
      "name": "Domain Records",
      "description": "Domain record resources are used to set or retrieve information about the\nindividual DNS records configured for a domain. This allows you to build\nand manage DNS zone files by adding and modifying individual records for a\ndomain.\n\nThe [DigitalOcean DNS management interface](https://docs.digitalocean.com/products/networking/dns/)\nallows you to configure the following DNS records:\n\nName  | Description                                                                                                                                        |\n------|----------------------------------------------------------------------------------------------------------------------------------------------------|\nA     | This record type is used to map an IPv4 address to a hostname.                                                                                     |\nAAAA  | This record type is used to map an IPv6 address to a hostname.                                                                                     |\nCAA   | As specified in RFC-6844, this record type can be used to restrict which certificate authorities are permitted to issue certificates for a domain. |\nCNAME | This record type defines an alias for your canonical hostname (the one defined by an A or AAAA record).                                            |\nMX    | This record type is used to define the mail exchanges used for the domain.                                                                         |\nNS    | This record type defines the name servers that are used for this zone.                                                                             |\nTXT   | This record type is used to associate a string of text with a hostname, primarily used for verification.                                           |\nSRV   | This record type specifies the location (hostname and port number) of servers for specific services.                                               |\nSOA   | This record type defines administrative information about the zone. Can only have ttl changed, cannot be deleted                                   |"
    },
    {
      "name": "Domains",
      "description": "Domain resources are domain names that you have purchased from a domain\nname registrar that you are managing through the\n[DigitalOcean DNS interface](https://docs.digitalocean.com/products/networking/dns/).\n\nThis resource establishes top-level control over each domain. Actions that\naffect individual domain records should be taken on the\n[Domain Records](#tag/Domain-Records) resource."
    },
    {
      "name": "Droplet Actions",
      "description": "Droplet actions are tasks that can be executed on a Droplet. These can be\nthings like rebooting, resizing, snapshotting, etc.\n\nDroplet action requests are generally targeted at one of the \"actions\"\nendpoints for a specific Droplet. The specific actions are usually\ninitiated by sending a POST request with the action and arguments as\nparameters.\n\nDroplet action requests create a Droplet actions object, which can be used\nto get information about the status of an action. Creating a Droplet\naction is asynchronous: the HTTP call will return the action object before\nthe action has finished processing on the Droplet. The current status of\nan action can be retrieved from either the Droplet actions endpoint or the\nglobal actions endpoint. If a Droplet action is uncompleted it may block\nthe creation of a subsequent action for that Droplet, the locked attribute\nof the Droplet will be true and attempts to create a Droplet action will\nfail with a status of 422."
    },
    {
      "name": "Droplets",
      "description": "A [Droplet](https://docs.digitalocean.com/products/droplets/) is a DigitalOcean\nvirtual machine. By sending requests to the Droplet endpoint, you can\nlist, create, or delete Droplets.\n\nSome of the attributes will have an object value. The `region` and `image`\nobjects will all contain the standard attributes of their associated\ntypes. Find more information about each of these objects in their\nrespective sections."
    },
    {
      "name": "Droplet Autoscale Pools",
      "description": "Droplet autoscale pools manage automatic horizontal scaling for your applications based on resource usage (CPU, memory, or both) or a static configuration."
    },
    {
      "name": "Embeddings",
      "description": "Text embedding vectors via `POST /v1/embeddings` on the\n[Serverless Inference](https://docs.digitalocean.com/reference/api/api-reference/#tag/Serverless-Inference) base URL\n`https://inference.do-ai.run` (bearer model access key)."
    },
    {
      "name": "Firewalls",
      "description": "[DigitalOcean Cloud Firewalls](https://docs.digitalocean.com/products/networking/firewalls/)\nprovide the ability to restrict network access to and from a Droplet\nallowing you to define which ports will accept inbound or outbound\nconnections. By sending requests to the `/v2/firewalls` endpoint, you can\nlist, create, or delete firewalls as well as modify access rules."
    },
    {
      "name": "Floating IP Actions",
      "description": "As of 16 June 2022, we have renamed the Floating IP product to [Reserved IPs](https://docs.digitalocean.com/reference/api/api-reference/#tag/Reserved-IPs).\nThe Reserved IP product's endpoints function the exact same way as Floating IPs.\nThe only difference is the name change throughout the URLs and fields.\nFor example, the `floating_ips` field is now the `reserved_ips` field.\nThe Floating IP endpoints will remain active until fall 2023 before being\npermanently deprecated.\n\nWith the exception of the [Projects API](https://docs.digitalocean.com/reference/api/api-reference/#tag/Projects),\nwe will reflect this change as an additional field in the responses across the API\nwhere the `floating_ip` field is used. For example, the Droplet metadata response\nwill contain the field `reserved_ips` in addition to the `floating_ips` field.\nFloating IPs retrieved using the Projects API will retain the original name.\n\nFloating IP actions are commands that can be given to a DigitalOcean\nfloating IP. These requests are made on the actions endpoint of a specific\nfloating IP.\n\nAn action object is returned. These objects hold the current status of the\nrequested action."
    },
    {
      "name": "Floating IPs",
      "description": "As of 16 June 2022, we have renamed the Floating IP product to [Reserved IPs](https://docs.digitalocean.com/reference/api/api-reference/#tag/Reserved-IPs).\nThe Reserved IP product's endpoints function the exact same way as Floating IPs.\nThe only difference is the name change throughout the URLs and fields.\nFor example, the `floating_ips` field is now the `reserved_ips` field.\nThe Floating IP endpoints will remain active until fall 2023 before being\npermanently deprecated.\n\nWith the exception of the [Projects API](https://docs.digitalocean.com/reference/api/api-reference/#tag/Projects),\nwe will reflect this change as an additional field in the responses across the API\nwhere the `floating_ip` field is used. For example, the Droplet metadata response\nwill contain the field `reserved_ips` in addition to the `floating_ips` field.\nFloating IPs retrieved using the Projects API will retain the original name.\n\n[DigitalOcean Floating IPs](https://docs.digitalocean.com/products/networking/reserved-ips/)\nare publicly-accessible static IP addresses that can be mapped to one of\nyour Droplets. They can be used to create highly available setups or other\nconfigurations requiring movable addresses.\n\nFloating IPs are bound to a specific region."
    },
    {
      "name": "Functions",
      "description": "[Serverless functions](https://docs.digitalocean.com/products/functions) are blocks of code that run on demand without the need to manage any infrastructure.\nYou can develop functions on your local machine and then deploy them to a namespace using `doctl`, the [official DigitalOcean CLI tool](https://docs.digitalocean.com/reference/doctl).\n\nThe Serverless Functions API currently only supports creating and managing namespaces."
    },
    {
      "name": "GradientAI Platform",
      "description": "The API lets you build GPU-powered AI agents with pre-built or custom foundation models, function and agent routes, and RAG pipelines with knowledge bases."
    },
    {
      "name": "Image Actions",
      "description": "Image actions are commands that can be given to a DigitalOcean image. In\ngeneral, these requests are made on the actions endpoint of a specific\nimage.\n\nAn image action object is returned. These objects hold the current status\nof the requested action."
    },
    {
      "name": "Images",
      "description": "A DigitalOcean [image](https://docs.digitalocean.com/products/images/) can be\nused to create a Droplet and may come in a number of flavors. Currently,\nthere are five types of images: snapshots, backups, applications,\ndistributions, and custom images.\n\n* [Snapshots](https://docs.digitalocean.com/products/snapshots/) provide\na full copy of an existing Droplet instance taken on demand.\n\n* [Backups](https://docs.digitalocean.com/products/backups/) are similar\nto snapshots but are created automatically at regular intervals when\nenabled for a Droplet.\n\n* [Custom images](https://docs.digitalocean.com/products/custom-images/)\nare Linux-based virtual machine images (raw, qcow2, vhdx, vdi, and vmdk\nformats are supported) that you may upload for use on DigitalOcean.\n\n* Distributions are the public Linux distributions that are available to\nbe used as a base to create Droplets.\n\n* Applications, or [1-Click Apps](https://docs.digitalocean.com/products/marketplace/),\nare distributions pre-configured with additional software.\n\nTo interact with images, you will generally send requests to the images\nendpoint at /v2/images."
    },
    {
      "name": "Kubernetes",
      "description": "[DigitalOcean Kubernetes](https://docs.digitalocean.com/products/kubernetes/)\nallows you to quickly deploy scalable and secure Kubernetes clusters. By\nsending requests to the `/v2/kubernetes/clusters` endpoint, you can list,\ncreate, or delete clusters as well as scale node pools up and down,\nrecycle individual nodes, and retrieve the kubeconfig file for use with\na cluster."
    },
    {
      "name": "Load Balancers",
      "description": "[DigitalOcean Load Balancers](https://docs.digitalocean.com/products/networking/load-balancers/)\nprovide a way to distribute traffic across multiple Droplets. By sending\nrequests to the `/v2/load_balancers` endpoint, you can list, create, or\ndelete load balancers as well as add or remove Droplets, forwarding rules,\nand other configuration details."
    },
    {
      "name": "Monitoring",
      "description": "The DigitalOcean Monitoring API makes it possible to programmatically retrieve metrics as well as configure alert\npolicies based on these metrics. The Monitoring API can help you gain insight into how your apps are performing\nand consuming resources."
    },
    {
      "name": "NFS",
      "description": "NFS lets you create fully managed, POSIX-compliant network file storage that delivers secure,\nhigh-performance shared storage right inside your VPC. This enables seamless data sharing across Droplets in a VPC."
    },
    {
      "name": "NFS Actions",
      "description": "NFS actions are tasks that can be executed on an NFS share. These can be\nthings like resizing, snapshotting, etc."
    },
    {
      "name": "Partner Network Connect",
      "description": "Partner Network Connect lets you establish high-bandwidth, low-latency\nnetwork connections directly between DigitalOcean VPC networks and other\npublic cloud providers or on-premises datacenters."
    },
    {
      "name": "Project Resources",
      "description": "Project Resources are resources that can be grouped into your projects.\nYou can group resources (like Droplets, Spaces, load balancers, domains,\nand floating IPs) in ways that align with the applications you host on\nDigitalOcean.\n\n### Supported Resource Types Examples\n\nProjects resources are identified by uniform resource names or URNs. A\nvalid URN has the following format: `do:resource_type:resource_id`. The\nfollowing resource types are supported:\n\nResource Type      | Example URN\n-------------------|------------\nApp Platform App   | `do:app:be5aab85-851b-4cab-b2ed-98d5a63ba4e8`\nDatabase           | `do:dbaas:83c7a55f-0d84-4760-9245-aba076ec2fb2`\nDomain             | `do:domain:example.com`\nDroplet            | `do:droplet:4126873`\nFloating IP        | `do:floatingip:192.168.99.100`\nKubernetes Cluster | `do:kubernetes:bd5f5959-5e1e-4205-a714-a914373942af`\nLoad Balancer      | `do:loadbalancer:39052d89-8dd4-4d49-8d5a-3c3b6b365b5b`\nSpace              | `do:space:my-website-assets`\nVolume             | `do:volume:6fc4c277-ea5c-448a-93cd-dd496cfef71f`\n\n### Resource Status Codes\n\nWhen assigning and retrieving resources in projects, a `status` attribute\nis returned that indicates if a resource was successfully retrieved or\nassigned. The status codes can be one of the following:\n\nStatus Code        | Explanation\n-------------------|------------\n`ok`               | There was no problem retrieving or assigning a resource.\n`not_found`        | The resource was not found.\n`assigned`         | The resource was successfully assigned.\n`already_assigned` | The resource was already assigned.\n`service_down`     | There was a problem retrieving or assigning a resource. Please try again."
    },
    {
      "name": "Projects",
      "description": "Projects allow you to organize your resources into groups that fit the way\nyou work. You can group resources (like Droplets, Spaces, load balancers,\ndomains, and floating IPs) in ways that align with the applications\nyou host on DigitalOcean."
    },
    {
      "name": "Regions",
      "description": "Provides information about DigitalOcean data center regions."
    },
    {
      "name": "Reserved IP Actions",
      "description": "As of 16 June 2022, we have renamed the [Floating IP](https://docs.digitalocean.com/reference/api/api-reference/#tag/Floating-IPs)\nproduct to Reserved IPs. The Reserved IP product's endpoints function the exact\nsame way as Floating IPs. The only difference is the name change throughout the\nURLs and fields. For example, the `floating_ips` field is now the `reserved_ips` field.\nThe Floating IP endpoints will remain active until fall 2023 before being\npermanently deprecated.\n\nWith the exception of the [Projects API](https://docs.digitalocean.com/reference/api/api-reference/#tag/Projects),\nwe will reflect this change as an additional field in the responses across the API\nwhere the `floating_ip` field is used. For example, the Droplet metadata response\nwill contain the field `reserved_ips` in addition to the `floating_ips` field.\nFloating IPs retrieved using the Projects API will retain the original name.\n\nReserved IP actions are commands that can be given to a DigitalOcean\nreserved IP. These requests are made on the actions endpoint of a specific\nreserved IP.\n\nAn action object is returned. These objects hold the current status of the\nrequested action."
    },
    {
      "name": "Reserved IPs",
      "description": "As of 16 June 2022, we have renamed the [Floating IP](https://docs.digitalocean.com/reference/api/api-reference/#tag/Floating-IPs)\nproduct to Reserved IPs. The Reserved IP product's endpoints function the exact\nsame way as Floating IPs. The only difference is the name change throughout the\nURLs and fields. For example, the `floating_ips` field is now the `reserved_ips` field.\nThe Floating IP endpoints will remain active until fall 2023 before being\npermanently deprecated.\n\nWith the exception of the [Projects API](https://docs.digitalocean.com/reference/api/api-reference/#tag/Projects),\nwe will reflect this change as an additional field in the responses across the API\nwhere the `floating_ip` field is used. For example, the Droplet metadata response\nwill contain the field `reserved_ips` in addition to the `floating_ips` field.\nFloating IPs retrieved using the Projects API will retain the original name.\n\nDigitalOcean Reserved IPs are publicly-accessible static IP addresses that can be\nmapped to one of your Droplets. They can be used to create highly available\nsetups or other configurations requiring movable addresses.\n\nReserved IPs are bound to a specific region."
    },
    {
      "name": "Reserved IPv6",
      "description": "DigitalOcean Reserved IPv6s are publicly-accessible static IP addresses that can be\nmapped to one of your Droplets. They can be used to create highly available\nsetups or other configurations requiring movable addresses.\n\nReserved IPv6s are bound to a specific region."
    },
    {
      "name": "Reserved IPv6 Actions",
      "description": "Reserved IPv6 actions requests are made on the actions endpoint of a specific\nreserved IPv6.\n\nAn action object is returned. These objects hold the current status of the\nrequested action."
    },
    {
      "name": "Security",
      "description": "Security CSPM endpoints for scans, scan findings, and settings."
    },
    {
      "name": "Sizes",
      "description": "The sizes objects represent different packages of hardware resources that\ncan be used for Droplets. When a Droplet is created, a size must be\nselected so that the correct resources can be allocated.\n\nEach size represents a plan that bundles together specific sets of\nresources. This includes the amount of RAM, the number of virtual CPUs,\ndisk space, and transfer. The size object also includes the pricing\ndetails and the regions that the size is available in."
    },
    {
      "name": "Snapshots",
      "description": "[Snapshots](https://docs.digitalocean.com/products/snapshots/) are saved\ninstances of a Droplet or a block storage volume, which is reflected in\nthe `resource_type` attribute. In order to avoid problems with compressing\nfilesystems, each defines a `min_disk_size` attribute which is the minimum\nsize of the Droplet or volume disk when creating a new resource from the\nsaved snapshot.\n\nTo interact with snapshots, you will generally send requests to the\nsnapshots endpoint at `/v2/snapshots`."
    },
    {
      "name": "Spaces Keys",
      "description": "Spaces keys authenticate requests to DigitalOcean Spaces Buckets.\nYou can create, list, update, or delete Spaces keys by sending requests to\nto the `/v2/spaces/keys` endpoint."
    },
    {
      "name": "SSH Keys",
      "description": "Manage SSH keys available on your account."
    },
    {
      "name": "Tags",
      "description": "A tag is a label that can be applied to a resource (currently Droplets,\nImages, Volumes, Volume Snapshots, and Database clusters) in order to\nbetter organize or facilitate the lookups and actions on it.\n\nTags have two attributes: a user defined `name` attribute and an embedded\n`resources` attribute with information about resources that have been tagged."
    },
    {
      "name": "Uptime",
      "description": "[DigitalOcean Uptime Checks](https://docs.digitalocean.com/products/uptime/) provide the ability to monitor your endpoints from around the world, and alert you when they're slow, unavailable, or SSL certificates are expiring.\nTo interact with Uptime, you will generally send requests to the Uptime endpoint at `/v2/uptime/`."
    },
    {
      "name": "VPC NAT Gateways",
      "description": "[VPC NAT Gateways](https://docs.digitalocean.com/products/networking/vpc/how-to/create-nat-gateway/)\nallow resources in a private VPC to access the public internet without\nexposing them to incoming traffic.\n\nBy sending requests to the `/v2/vpc_nat_gateways` endpoint, you can create,\nconfigure, list, and delete VPC NAT Gateways as well as retrieve information\nabout the resources assigned to them."
    },
    {
      "name": "VPC Peerings",
      "description": "[VPC Peerings](https://docs.digitalocean.com/products/networking/vpc/how-to/create-peering/)\njoin two VPC networks with a secure, private connection. This allows\nresources in those networks to connect to each other's private IP addresses\nas if they were in the same network."
    },
    {
      "name": "VPCs",
      "description": "[VPCs (virtual private clouds)](https://docs.digitalocean.com/products/networking/vpc/)\nallow you to create virtual networks containing resources that can\ncommunicate with each other in full isolation using private IP addresses.\n\nBy sending requests to the `/v2/vpcs` endpoint, you can create, configure,\nlist, and delete custom VPCs as well as retrieve information about the\nresources assigned to them."
    },
    {
      "name": "Inference Introduction",
      "x-displayName": "Introduction",
      "x-traitTag": true,
      "description": {
        "$ref": "inference_description.yml#/introduction"
      }
    },
    {
      "name": "Serverless Inference",
      "description": "DigitalOcean Gradient™ AI Agentic Cloud allows access to serverless inference models.\nYou can access models by providing an inference key.\n\n**Note:** The Serverless Inference API uses a separate base URL (`https://inference.do-ai.run`)\nand is independent of the main DigitalOcean control-plane API (`https://api.digitalocean.com`)."
    },
    {
      "name": "Agent Inference",
      "description": "DigitalOcean Gradient™ AI Agentic Cloud allows you to create multi-agent workflows\nto power your AI applications. This allows developers to integrate agents into your\nAI applications.\n\n**Note:** The Agent Inference API uses a customer-specific base URL (the agent endpoint)\nand is independent of the main DigitalOcean control-plane API (`https://api.digitalocean.com`)."
    },
    {
      "name": "Batch Inference",
      "description": "Batch Inference is an asynchronous processing capability designed to help\nyou scale high-volume AI projects more efficiently. Ideal for heavy-duty\nworkloads like large-scale data classification, evaluations, and content\nenrichment, you can submit thousands or even millions of requests in a\nsingle job with a guaranteed results window of 24 hours. By utilizing\noff-peak GPU capacity, Batch Inference provides high-performance LLM\naccess at a significantly reduced price point compared to standard\nsynchronous APIs, making it a cost-effective choice for non-interactive\nworkloads."
    }
  ],
  "x-tagGroups": [
    {
      "name": "Public APIs",
      "tags": [
        "Public APIs Introduction",
        "1-Click Applications",
        "Account",
        "Actions",
        "Add-Ons",
        "Apps",
        "Billing",
        "Block Storage",
        "Block Storage Actions",
        "BYOIP Prefixes",
        "CDN Endpoints",
        "Certificates",
        "Container Registry",
        "Container Registries",
        "Databases",
        "Dedicated Inference",
        "Domain Records",
        "Domains",
        "Droplet Actions",
        "Droplets",
        "Droplet Autoscale Pools",
        "Firewalls",
        "Floating IP Actions",
        "Floating IPs",
        "Functions",
        "GradientAI Platform",
        "Image Actions",
        "Images",
        "Kubernetes",
        "Load Balancers",
        "Monitoring",
        "NFS",
        "NFS Actions",
        "Partner Network Connect",
        "Project Resources",
        "Projects",
        "Regions",
        "Reserved IP Actions",
        "Reserved IPs",
        "Reserved IPv6",
        "Reserved IPv6 Actions",
        "Security",
        "Sizes",
        "Snapshots",
        "Spaces Keys",
        "SSH Keys",
        "Tags",
        "Uptime",
        "VPC NAT Gateways",
        "VPC Peerings",
        "VPCs"
      ]
    },
    {
      "name": "Inference APIs",
      "tags": [
        "Inference Introduction",
        "Agent Inference",
        "Batch Inference",
        "Embeddings",
        "Serverless Inference"
      ]
    }
  ],
  "paths": {
    "/v2/1-clicks": {
      "get": {
        "$ref": "resources/1-clicks/oneClicks_list.yml",
        "operationId": "get_v2_1_clicks"
      }
    },
    "/v2/1-clicks/kubernetes": {
      "post": {
        "$ref": "resources/1-clicks/oneClicks_install_kubernetes.yml",
        "operationId": "post_v2_1_clicks_kubernetes"
      }
    },
    "/v2/account": {
      "get": {
        "$ref": "resources/account/account_get.yml",
        "operationId": "get_v2_account"
      }
    },
    "/v2/account/keys": {
      "get": {
        "$ref": "resources/ssh_keys/sshKeys_list.yml",
        "operationId": "get_v2_account_keys"
      },
      "post": {
        "$ref": "resources/ssh_keys/sshKeys_create.yml",
        "operationId": "post_v2_account_keys"
      }
    },
    "/v2/account/keys/{ssh_key_identifier}": {
      "get": {
        "$ref": "resources/ssh_keys/sshKeys_get.yml",
        "operationId": "get_v2_account_keys_ssh_key_identifier"
      },
      "put": {
        "$ref": "resources/ssh_keys/sshKeys_update.yml",
        "operationId": "put_v2_account_keys_ssh_key_identifier"
      },
      "delete": {
        "$ref": "resources/ssh_keys/sshKeys_delete.yml",
        "operationId": "delete_v2_account_keys_ssh_key_identifier"
      }
    },
    "/v2/actions": {
      "get": {
        "$ref": "resources/actions/actions_list.yml",
        "operationId": "get_v2_actions"
      }
    },
    "/v2/actions/{action_id}": {
      "get": {
        "$ref": "resources/actions/actions_get.yml",
        "operationId": "get_v2_actions_action_id"
      }
    },
    "/v2/add-ons/apps": {
      "get": {
        "$ref": "resources/addons/addons_get_app.yml",
        "operationId": "get_v2_add_ons_apps"
      }
    },
    "/v2/add-ons/apps/{app_slug}/metadata": {
      "get": {
        "$ref": "resources/addons/addons_get_app_metadata.yml",
        "operationId": "get_v2_add_ons_apps_app_slug_metadata"
      }
    },
    "/v2/add-ons/saas": {
      "get": {
        "$ref": "resources/addons/addons_list.yml",
        "operationId": "get_v2_add_ons_saas"
      },
      "post": {
        "$ref": "resources/addons/addons_create.yml",
        "operationId": "post_v2_add_ons_saas"
      }
    },
    "/v2/add-ons/saas/{resource_uuid}": {
      "get": {
        "$ref": "resources/addons/addons_get.yml",
        "operationId": "get_v2_add_ons_saas_resource_uuid"
      },
      "delete": {
        "$ref": "resources/addons/addons_delete.yml",
        "operationId": "delete_v2_add_ons_saas_resource_uuid"
      },
      "patch": {
        "$ref": "resources/addons/addons_update.yml",
        "operationId": "patch_v2_add_ons_saas_resource_uuid"
      }
    },
    "/v2/add-ons/saas/{resource_uuid}/plan": {
      "patch": {
        "$ref": "resources/addons/addons_update_plan.yml",
        "operationId": "patch_v2_add_ons_saas_resource_uuid_plan"
      }
    },
    "/v2/apps": {
      "get": {
        "$ref": "resources/apps/apps_list.yml",
        "operationId": "get_v2_apps"
      },
      "post": {
        "$ref": "resources/apps/apps_create.yml",
        "operationId": "post_v2_apps"
      }
    },
    "/v2/apps/{id}": {
      "delete": {
        "$ref": "resources/apps/apps_delete.yml",
        "operationId": "delete_v2_apps_id"
      },
      "get": {
        "$ref": "resources/apps/apps_get.yml",
        "operationId": "get_v2_apps_id"
      },
      "put": {
        "$ref": "resources/apps/apps_update.yml",
        "operationId": "put_v2_apps_id"
      }
    },
    "/v2/apps/{app_id}/restart": {
      "post": {
        "$ref": "resources/apps/apps_restart.yml",
        "operationId": "post_v2_apps_app_id_restart"
      }
    },
    "/v2/apps/{app_id}/components/{component_name}/logs": {
      "get": {
        "$ref": "resources/apps/apps_get_logs_active_deployment.yml",
        "operationId": "get_v2_apps_app_id_components_component_name_logs"
      }
    },
    "/v2/apps/{app_id}/components/{component_name}/exec": {
      "get": {
        "$ref": "resources/apps/apps_get_exec_active_deployment.yml",
        "operationId": "get_v2_apps_app_id_components_component_name_exec"
      }
    },
    "/v2/apps/{app_id}/instances": {
      "get": {
        "$ref": "resources/apps/apps_get_instances.yml",
        "operationId": "get_v2_apps_app_id_instances"
      }
    },
    "/v2/apps/{app_id}/deployments": {
      "get": {
        "$ref": "resources/apps/apps_list_deployments.yml",
        "operationId": "get_v2_apps_app_id_deployments"
      },
      "post": {
        "$ref": "resources/apps/apps_create_deployment.yml",
        "operationId": "post_v2_apps_app_id_deployments"
      }
    },
    "/v2/apps/{app_id}/deployments/{deployment_id}": {
      "get": {
        "$ref": "resources/apps/apps_get_deployment.yml",
        "operationId": "get_v2_apps_app_id_deployments_deployment_id"
      }
    },
    "/v2/apps/{app_id}/deployments/{deployment_id}/cancel": {
      "post": {
        "$ref": "resources/apps/apps_cancel_deployment.yml",
        "operationId": "post_v2_apps_app_id_deployments_deployment_id_cancel"
      }
    },
    "/v2/apps/{app_id}/deployments/{deployment_id}/components/{component_name}/logs": {
      "get": {
        "$ref": "resources/apps/apps_get_logs.yml",
        "operationId": "get_v2_apps_app_id_deployments_deployment_id_components_component_name_logs"
      }
    },
    "/v2/apps/{app_id}/deployments/{deployment_id}/logs": {
      "get": {
        "$ref": "resources/apps/apps_get_logs_aggregate.yml",
        "operationId": "get_v2_apps_app_id_deployments_deployment_id_logs"
      }
    },
    "/v2/apps/{app_id}/deployments/{deployment_id}/components/{component_name}/exec": {
      "get": {
        "$ref": "resources/apps/apps_get_exec.yml",
        "operationId": "get_v2_apps_app_id_deployments_deployment_id_components_component_name_exec"
      }
    },
    "/v2/apps/{app_id}/logs": {
      "get": {
        "$ref": "resources/apps/apps_get_logs_active_deployment_aggregate.yml",
        "operationId": "get_v2_apps_app_id_logs"
      }
    },
    "/v2/apps/{app_id}/job-invocations": {
      "get": {
        "$ref": "resources/apps/apps_list_job_invocations.yml",
        "operationId": "get_v2_apps_app_id_job_invocations"
      }
    },
    "/v2/apps/{app_id}/job-invocations/{job_invocation_id}": {
      "get": {
        "$ref": "resources/apps/apps_get_job_invocation.yml",
        "operationId": "get_v2_apps_app_id_job_invocations_job_invocation_id"
      }
    },
    "/v2/apps/{app_id}/job-invocations/{job_invocation_id}/cancel": {
      "post": {
        "$ref": "resources/apps/apps_cancel_job_invocation.yml",
        "operationId": "post_v2_apps_app_id_job_invocations_job_invocation_id_cancel"
      }
    },
    "/v2/apps/{app_id}/jobs/{job_name}/invocations/{job_invocation_id}/logs": {
      "get": {
        "$ref": "resources/apps/apps_get_job_invocation_logs.yml",
        "operationId": "get_v2_apps_app_id_jobs_job_name_invocations_job_invocation_id_logs"
      }
    },
    "/v2/apps/{app_id}/events": {
      "get": {
        "$ref": "resources/apps/apps_list_events.yml",
        "operationId": "get_v2_apps_app_id_events"
      }
    },
    "/v2/apps/{app_id}/events/{event_id}": {
      "get": {
        "$ref": "resources/apps/apps_get_event.yml",
        "operationId": "get_v2_apps_app_id_events_event_id"
      }
    },
    "/v2/apps/{app_id}/events/{event_id}/cancel": {
      "post": {
        "$ref": "resources/apps/apps_cancel_event.yml",
        "operationId": "post_v2_apps_app_id_events_event_id_cancel"
      }
    },
    "/v2/apps/{app_id}/events/{event_id}/logs": {
      "get": {
        "$ref": "resources/apps/apps_get_event_logs.yml",
        "operationId": "get_v2_apps_app_id_events_event_id_logs"
      }
    },
    "/v2/apps/tiers/instance_sizes": {
      "get": {
        "$ref": "resources/apps/apps_list_instanceSizes.yml",
        "operationId": "get_v2_apps_tiers_instance_sizes"
      }
    },
    "/v2/apps/tiers/instance_sizes/{slug}": {
      "get": {
        "$ref": "resources/apps/apps_get_instanceSize.yml",
        "operationId": "get_v2_apps_tiers_instance_sizes_slug"
      }
    },
    "/v2/apps/regions": {
      "get": {
        "$ref": "resources/apps/apps_list_regions.yml",
        "operationId": "get_v2_apps_regions"
      }
    },
    "/v2/apps/propose": {
      "post": {
        "$ref": "resources/apps/apps_validate_appSpec.yml",
        "operationId": "post_v2_apps_propose"
      }
    },
    "/v2/apps/{app_id}/alerts": {
      "get": {
        "$ref": "resources/apps/apps_list_alerts.yml",
        "operationId": "get_v2_apps_app_id_alerts"
      }
    },
    "/v2/apps/{app_id}/alerts/{alert_id}/destinations": {
      "post": {
        "$ref": "resources/apps/apps_assign_alertDestinations.yml",
        "operationId": "post_v2_apps_app_id_alerts_alert_id_destinations"
      }
    },
    "/v2/apps/{app_id}/rollback": {
      "post": {
        "$ref": "resources/apps/apps_create_rollback.yml",
        "operationId": "post_v2_apps_app_id_rollback"
      }
    },
    "/v2/apps/{app_id}/rollback/validate": {
      "post": {
        "$ref": "resources/apps/apps_validate_rollback.yml",
        "operationId": "post_v2_apps_app_id_rollback_validate"
      }
    },
    "/v2/apps/{app_id}/rollback/commit": {
      "post": {
        "$ref": "resources/apps/apps_commit_rollback.yml",
        "operationId": "post_v2_apps_app_id_rollback_commit"
      }
    },
    "/v2/apps/{app_id}/rollback/revert": {
      "post": {
        "$ref": "resources/apps/apps_revert_rollback.yml",
        "operationId": "post_v2_apps_app_id_rollback_revert"
      }
    },
    "/v2/apps/{app_id}/metrics/bandwidth_daily": {
      "get": {
        "$ref": "resources/apps/apps_get_metrics_bandwidth_usage.yml",
        "operationId": "get_v2_apps_app_id_metrics_bandwidth_daily"
      }
    },
    "/v2/apps/metrics/bandwidth_daily": {
      "post": {
        "$ref": "resources/apps/apps_list_metrics_bandwidth_usage.yml",
        "operationId": "post_v2_apps_metrics_bandwidth_daily"
      }
    },
    "/v2/apps/{app_id}/health": {
      "get": {
        "$ref": "resources/apps/apps_get_health.yml",
        "operationId": "get_v2_apps_app_id_health"
      }
    },
    "/v2/cdn/endpoints": {
      "get": {
        "$ref": "resources/cdn/cdn_list_endpoints.yml",
        "operationId": "get_v2_cdn_endpoints"
      },
      "post": {
        "$ref": "resources/cdn/cdn_create_endpoint.yml",
        "operationId": "post_v2_cdn_endpoints"
      }
    },
    "/v2/cdn/endpoints/{cdn_id}": {
      "get": {
        "$ref": "resources/cdn/cdn_get_endpoint.yml",
        "operationId": "get_v2_cdn_endpoints_cdn_id"
      },
      "put": {
        "$ref": "resources/cdn/cdn_update_endpoint.yml",
        "operationId": "put_v2_cdn_endpoints_cdn_id"
      },
      "delete": {
        "$ref": "resources/cdn/cdn_delete_endpoint.yml",
        "operationId": "delete_v2_cdn_endpoints_cdn_id"
      }
    },
    "/v2/cdn/endpoints/{cdn_id}/cache": {
      "delete": {
        "$ref": "resources/cdn/cdn_purge_cache.yml",
        "operationId": "delete_v2_cdn_endpoints_cdn_id_cache"
      }
    },
    "/v2/certificates": {
      "get": {
        "$ref": "resources/certificates/certificates_list.yml",
        "operationId": "get_v2_certificates"
      },
      "post": {
        "$ref": "resources/certificates/certificates_create.yml",
        "operationId": "post_v2_certificates"
      }
    },
    "/v2/certificates/{certificate_id}": {
      "get": {
        "$ref": "resources/certificates/certificates_get.yml",
        "operationId": "get_v2_certificates_certificate_id"
      },
      "delete": {
        "$ref": "resources/certificates/certificates_delete.yml",
        "operationId": "delete_v2_certificates_certificate_id"
      }
    },
    "/v2/customers/my/balance": {
      "get": {
        "$ref": "resources/billing/balance_get.yml",
        "operationId": "get_v2_customers_my_balance"
      }
    },
    "/v2/customers/my/billing_history": {
      "get": {
        "$ref": "resources/billing/billingHistory_list.yml",
        "operationId": "get_v2_customers_my_billing_history"
      }
    },
    "/v2/customers/my/invoices": {
      "get": {
        "$ref": "resources/billing/invoices_list.yml",
        "operationId": "get_v2_customers_my_invoices"
      }
    },
    "/v2/customers/my/invoices/{invoice_uuid}": {
      "get": {
        "$ref": "resources/billing/invoices_get_byUUID.yml",
        "operationId": "get_v2_customers_my_invoices_invoice_uuid"
      }
    },
    "/v2/customers/my/invoices/{invoice_uuid}/csv": {
      "get": {
        "$ref": "resources/billing/invoices_get_csvByUUID.yml",
        "operationId": "get_v2_customers_my_invoices_invoice_uuid_csv"
      }
    },
    "/v2/customers/my/invoices/{invoice_uuid}/pdf": {
      "get": {
        "$ref": "resources/billing/invoices_get_pdfByUUID.yml",
        "operationId": "get_v2_customers_my_invoices_invoice_uuid_pdf"
      }
    },
    "/v2/customers/my/invoices/{invoice_uuid}/summary": {
      "get": {
        "$ref": "resources/billing/invoices_get_summaryByUUID.yml",
        "operationId": "get_v2_customers_my_invoices_invoice_uuid_summary"
      }
    },
    "/v2/billing/{account_urn}/insights/{start_date}/{end_date}": {
      "get": {
        "$ref": "resources/billing/billingInsights_list.yml",
        "operationId": "get_v2_billing_account_urn_insights_start_date_end_date"
      }
    },
    "/v2/databases/options": {
      "get": {
        "$ref": "resources/databases/databases_list_options.yml",
        "operationId": "get_v2_databases_options"
      }
    },
    "/v2/databases": {
      "get": {
        "$ref": "resources/databases/databases_list_clusters.yml",
        "operationId": "get_v2_databases"
      },
      "post": {
        "$ref": "resources/databases/databases_create_cluster.yml",
        "operationId": "post_v2_databases"
      }
    },
    "/v2/databases/{database_cluster_uuid}": {
      "get": {
        "$ref": "resources/databases/databases_get_cluster.yml",
        "operationId": "get_v2_databases_database_cluster_uuid"
      },
      "delete": {
        "$ref": "resources/databases/databases_destroy_cluster.yml",
        "operationId": "delete_v2_databases_database_cluster_uuid"
      }
    },
    "/v2/databases/{database_cluster_uuid}/config": {
      "get": {
        "$ref": "resources/databases/databases_get_config.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_config"
      },
      "patch": {
        "$ref": "resources/databases/databases_patch_config.yml",
        "operationId": "patch_v2_databases_database_cluster_uuid_config"
      }
    },
    "/v2/databases/{database_cluster_uuid}/ca": {
      "get": {
        "$ref": "resources/databases/databases_get_ca.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_ca"
      }
    },
    "/v2/databases/{database_cluster_uuid}/online-migration": {
      "get": {
        "$ref": "resources/databases/databases_get_migrationStatus.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_online_migration"
      },
      "put": {
        "$ref": "resources/databases/databases_update_onlineMigration.yml",
        "operationId": "put_v2_databases_database_cluster_uuid_online_migration"
      }
    },
    "/v2/databases/{database_cluster_uuid}/online-migration/{migration_id}": {
      "delete": {
        "$ref": "resources/databases/databases_delete_onlineMigration.yml",
        "operationId": "delete_v2_databases_database_cluster_uuid_online_migration_migration_id"
      }
    },
    "/v2/databases/{database_cluster_uuid}/migrate": {
      "put": {
        "$ref": "resources/databases/databases_update_region.yml",
        "operationId": "put_v2_databases_database_cluster_uuid_migrate"
      }
    },
    "/v2/databases/{database_cluster_uuid}/resize": {
      "put": {
        "$ref": "resources/databases/databases_update_clusterSize.yml",
        "operationId": "put_v2_databases_database_cluster_uuid_resize"
      }
    },
    "/v2/databases/{database_cluster_uuid}/firewall": {
      "get": {
        "$ref": "resources/databases/databases_list_firewall_rules.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_firewall"
      },
      "put": {
        "$ref": "resources/databases/databases_update_firewall_rules.yml",
        "operationId": "put_v2_databases_database_cluster_uuid_firewall"
      }
    },
    "/v2/databases/{database_cluster_uuid}/maintenance": {
      "put": {
        "$ref": "resources/databases/databases_update_maintenanceWindow.yml",
        "operationId": "put_v2_databases_database_cluster_uuid_maintenance"
      }
    },
    "/v2/databases/{database_cluster_uuid}/install_update": {
      "put": {
        "$ref": "resources/databases/databases_update_installUpdate.yml",
        "operationId": "put_v2_databases_database_cluster_uuid_install_update"
      }
    },
    "/v2/databases/{database_cluster_uuid}/backups": {
      "get": {
        "$ref": "resources/databases/databases_list_backups.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_backups"
      }
    },
    "/v2/databases/{database_cluster_uuid}/replicas": {
      "get": {
        "$ref": "resources/databases/databases_list_replicas.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_replicas"
      },
      "post": {
        "$ref": "resources/databases/databases_create_replica.yml",
        "operationId": "post_v2_databases_database_cluster_uuid_replicas"
      }
    },
    "/v2/databases/{database_cluster_uuid}/events": {
      "get": {
        "$ref": "resources/databases/databases_events_logs.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_events"
      }
    },
    "/v2/databases/{database_cluster_uuid}/replicas/{replica_name}": {
      "get": {
        "$ref": "resources/databases/databases_get_replica.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_replicas_replica_name"
      },
      "delete": {
        "$ref": "resources/databases/databases_destroy_replica.yml",
        "operationId": "delete_v2_databases_database_cluster_uuid_replicas_replica_name"
      }
    },
    "/v2/databases/{database_cluster_uuid}/replicas/{replica_name}/promote": {
      "put": {
        "$ref": "resources/databases/databases_promote_replica.yml",
        "operationId": "put_v2_databases_database_cluster_uuid_replicas_replica_name_promote"
      }
    },
    "/v2/databases/{database_cluster_uuid}/users": {
      "get": {
        "$ref": "resources/databases/databases_list_users.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_users"
      },
      "post": {
        "$ref": "resources/databases/databases_add_user.yml",
        "operationId": "post_v2_databases_database_cluster_uuid_users"
      }
    },
    "/v2/databases/{database_cluster_uuid}/users/{username}": {
      "get": {
        "$ref": "resources/databases/databases_get_user.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_users_username"
      },
      "delete": {
        "$ref": "resources/databases/databases_delete_user.yml",
        "operationId": "delete_v2_databases_database_cluster_uuid_users_username"
      },
      "put": {
        "$ref": "resources/databases/databases_update_user.yml",
        "operationId": "put_v2_databases_database_cluster_uuid_users_username"
      }
    },
    "/v2/databases/{database_cluster_uuid}/users/{username}/reset_auth": {
      "post": {
        "$ref": "resources/databases/databases_reset_auth.yml",
        "operationId": "post_v2_databases_database_cluster_uuid_users_username_reset_auth"
      }
    },
    "/v2/databases/{database_cluster_uuid}/dbs": {
      "get": {
        "$ref": "resources/databases/databases_list.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_dbs"
      },
      "post": {
        "$ref": "resources/databases/databases_add.yml",
        "operationId": "post_v2_databases_database_cluster_uuid_dbs"
      }
    },
    "/v2/databases/{database_cluster_uuid}/dbs/{database_name}": {
      "get": {
        "$ref": "resources/databases/databases_get.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_dbs_database_name"
      },
      "delete": {
        "$ref": "resources/databases/databases_delete.yml",
        "operationId": "delete_v2_databases_database_cluster_uuid_dbs_database_name"
      }
    },
    "/v2/databases/{database_cluster_uuid}/pools": {
      "get": {
        "$ref": "resources/databases/databases_list_connectionPools.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_pools"
      },
      "post": {
        "$ref": "resources/databases/databases_add_connectionPool.yml",
        "operationId": "post_v2_databases_database_cluster_uuid_pools"
      }
    },
    "/v2/databases/{database_cluster_uuid}/pools/{pool_name}": {
      "get": {
        "$ref": "resources/databases/databases_get_connectionPool.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_pools_pool_name"
      },
      "put": {
        "$ref": "resources/databases/databases_update_connectionPool.yml",
        "operationId": "put_v2_databases_database_cluster_uuid_pools_pool_name"
      },
      "delete": {
        "$ref": "resources/databases/databases_delete_connectionPool.yml",
        "operationId": "delete_v2_databases_database_cluster_uuid_pools_pool_name"
      }
    },
    "/v2/databases/{database_cluster_uuid}/eviction_policy": {
      "get": {
        "$ref": "resources/databases/databases_get_evictionPolicy.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_eviction_policy"
      },
      "put": {
        "$ref": "resources/databases/databases_update_evictionPolicy.yml",
        "operationId": "put_v2_databases_database_cluster_uuid_eviction_policy"
      }
    },
    "/v2/databases/{database_cluster_uuid}/sql_mode": {
      "get": {
        "$ref": "resources/databases/databases_get_sql_mode.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_sql_mode"
      },
      "put": {
        "$ref": "resources/databases/databases_update_sql_mode.yml",
        "operationId": "put_v2_databases_database_cluster_uuid_sql_mode"
      }
    },
    "/v2/databases/{database_cluster_uuid}/upgrade": {
      "put": {
        "$ref": "resources/databases/databases_upgrade_major_version.yml",
        "operationId": "put_v2_databases_database_cluster_uuid_upgrade"
      }
    },
    "/v2/databases/{database_cluster_uuid}/autoscale": {
      "get": {
        "$ref": "resources/databases/databases_get_autoscale.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_autoscale"
      },
      "put": {
        "$ref": "resources/databases/databases_update_autoscale.yml",
        "operationId": "put_v2_databases_database_cluster_uuid_autoscale"
      }
    },
    "/v2/databases/{database_cluster_uuid}/topics": {
      "get": {
        "$ref": "resources/databases/databases_list_kafka_topics.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_topics"
      },
      "post": {
        "$ref": "resources/databases/databases_create_kafka_topic.yml",
        "operationId": "post_v2_databases_database_cluster_uuid_topics"
      }
    },
    "/v2/databases/{database_cluster_uuid}/topics/{topic_name}": {
      "get": {
        "$ref": "resources/databases/databases_get_kafka_topic.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_topics_topic_name"
      },
      "put": {
        "$ref": "resources/databases/databases_update_kafka_topic.yml",
        "operationId": "put_v2_databases_database_cluster_uuid_topics_topic_name"
      },
      "delete": {
        "$ref": "resources/databases/databases_delete_kafka_topic.yml",
        "operationId": "delete_v2_databases_database_cluster_uuid_topics_topic_name"
      }
    },
    "/v2/databases/{database_cluster_uuid}/logsink": {
      "get": {
        "$ref": "resources/databases/databases_list_logsink.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_logsink"
      },
      "post": {
        "$ref": "resources/databases/databases_create_logsink.yml",
        "operationId": "post_v2_databases_database_cluster_uuid_logsink"
      }
    },
    "/v2/databases/{database_cluster_uuid}/logsink/{logsink_id}": {
      "get": {
        "$ref": "resources/databases/databases_get_logsink.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_logsink_logsink_id"
      },
      "put": {
        "$ref": "resources/databases/databases_update_logsink.yml",
        "operationId": "put_v2_databases_database_cluster_uuid_logsink_logsink_id"
      },
      "delete": {
        "$ref": "resources/databases/databases_delete_logsink.yml",
        "operationId": "delete_v2_databases_database_cluster_uuid_logsink_logsink_id"
      }
    },
    "/v2/databases/{database_cluster_uuid}/schema-registry": {
      "get": {
        "$ref": "resources/databases/databases_list_kafka_schemas.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_schema_registry"
      },
      "post": {
        "$ref": "resources/databases/databases_create_kafka_schema.yml",
        "operationId": "post_v2_databases_database_cluster_uuid_schema_registry"
      }
    },
    "/v2/databases/{database_cluster_uuid}/schema-registry/{subject_name}": {
      "get": {
        "$ref": "resources/databases/databases_get_kafka_schema.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_schema_registry_subject_name"
      },
      "delete": {
        "$ref": "resources/databases/databases_delete_kafka_schema.yml",
        "operationId": "delete_v2_databases_database_cluster_uuid_schema_registry_subject_name"
      }
    },
    "/v2/databases/{database_cluster_uuid}/schema-registry/{subject_name}/versions/{version}": {
      "get": {
        "$ref": "resources/databases/databases_get_kafka_schema_version.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_schema_registry_subject_name_versions_version"
      }
    },
    "/v2/databases/{database_cluster_uuid}/schema-registry/config": {
      "get": {
        "$ref": "resources/databases/databases_get_kafka_schema_config.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_schema_registry_config"
      },
      "put": {
        "$ref": "resources/databases/databases_update_kafka_schema_config.yml",
        "operationId": "put_v2_databases_database_cluster_uuid_schema_registry_config"
      }
    },
    "/v2/databases/{database_cluster_uuid}/schema-registry/config/{subject_name}": {
      "get": {
        "$ref": "resources/databases/databases_get_kafka_schema_subject_config.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_schema_registry_config_subject_name"
      },
      "put": {
        "$ref": "resources/databases/databases_update_kafka_schema_subject_config.yml",
        "operationId": "put_v2_databases_database_cluster_uuid_schema_registry_config_subject_name"
      }
    },
    "/v2/databases/metrics/credentials": {
      "get": {
        "$ref": "resources/databases/databases_get_cluster_metrics_credentials.yml",
        "operationId": "get_v2_databases_metrics_credentials"
      },
      "put": {
        "$ref": "resources/databases/databases_update_cluster_metrics_credentials.yml",
        "operationId": "put_v2_databases_metrics_credentials"
      }
    },
    "/v2/databases/{database_cluster_uuid}/indexes": {
      "get": {
        "$ref": "resources/databases/databases_list_opensearch_indexes.yml",
        "operationId": "get_v2_databases_database_cluster_uuid_indexes"
      }
    },
    "/v2/databases/{database_cluster_uuid}/indexes/{index_name}": {
      "delete": {
        "$ref": "resources/databases/databases_delete_opensearch_index.yml",
        "operationId": "delete_v2_databases_database_cluster_uuid_indexes_index_name"
      }
    },
    "/v2/dedicated-inferences/{dedicated_inference_id}": {
      "get": {
        "$ref": "resources/dedicated_inferences/dedicated_inferences_get.yml",
        "operationId": "get_v2_dedicated_inferences_dedicated_inference_id"
      },
      "patch": {
        "$ref": "resources/dedicated_inferences/dedicated_inferences_update.yml",
        "operationId": "patch_v2_dedicated_inferences_dedicated_inference_id"
      },
      "delete": {
        "$ref": "resources/dedicated_inferences/dedicated_inferences_delete.yml",
        "operationId": "delete_v2_dedicated_inferences_dedicated_inference_id"
      }
    },
    "/v2/dedicated-inferences": {
      "get": {
        "$ref": "resources/dedicated_inferences/dedicated_inferences_list.yml",
        "operationId": "get_v2_dedicated_inferences"
      },
      "post": {
        "$ref": "resources/dedicated_inferences/dedicated_inferences_create.yml",
        "operationId": "post_v2_dedicated_inferences"
      }
    },
    "/v2/dedicated-inferences/{dedicated_inference_id}/accelerators": {
      "get": {
        "$ref": "resources/dedicated_inferences/dedicated_inferences_accelerators_list.yml",
        "operationId": "get_v2_dedicated_inferences_dedicated_inference_id_accelerators"
      }
    },
    "/v2/dedicated-inferences/{dedicated_inference_id}/accelerators/{accelerator_id}": {
      "get": {
        "$ref": "resources/dedicated_inferences/dedicated_inferences_accelerators_get.yml",
        "operationId": "get_v2_dedicated_inferences_dedicated_inference_id_accelerators_accelerator_id"
      }
    },
    "/v2/dedicated-inferences/{dedicated_inference_id}/ca": {
      "get": {
        "$ref": "resources/dedicated_inferences/dedicated_inferences_ca_get.yml",
        "operationId": "get_v2_dedicated_inferences_dedicated_inference_id_ca"
      }
    },
    "/v2/dedicated-inferences/{dedicated_inference_id}/tokens": {
      "get": {
        "$ref": "resources/dedicated_inferences/dedicated_inferences_tokens_list.yml",
        "operationId": "get_v2_dedicated_inferences_dedicated_inference_id_tokens"
      },
      "post": {
        "$ref": "resources/dedicated_inferences/dedicated_inferences_tokens_create.yml",
        "operationId": "post_v2_dedicated_inferences_dedicated_inference_id_tokens"
      }
    },
    "/v2/dedicated-inferences/{dedicated_inference_id}/tokens/{token_id}": {
      "delete": {
        "$ref": "resources/dedicated_inferences/dedicated_inferences_tokens_delete.yml",
        "operationId": "delete_v2_dedicated_inferences_dedicated_inference_id_tokens_token_id"
      }
    },
    "/v2/dedicated-inferences/sizes": {
      "get": {
        "$ref": "resources/dedicated_inferences/dedicated_inferences_sizes_list.yml",
        "operationId": "get_v2_dedicated_inferences_sizes"
      }
    },
    "/v2/dedicated-inferences/gpu-model-config": {
      "get": {
        "$ref": "resources/dedicated_inferences/dedicated_inferences_gpu_model_config_get.yml",
        "operationId": "get_v2_dedicated_inferences_gpu_model_config"
      }
    },
    "/v2/domains": {
      "get": {
        "$ref": "resources/domains/domains_list.yml",
        "operationId": "get_v2_domains"
      },
      "post": {
        "$ref": "resources/domains/domains_create.yml",
        "operationId": "post_v2_domains"
      }
    },
    "/v2/domains/{domain_name}": {
      "get": {
        "$ref": "resources/domains/domains_get.yml",
        "operationId": "get_v2_domains_domain_name"
      },
      "delete": {
        "$ref": "resources/domains/domains_delete.yml",
        "operationId": "delete_v2_domains_domain_name"
      }
    },
    "/v2/domains/{domain_name}/records": {
      "get": {
        "$ref": "resources/domains/domains_list_records.yml",
        "operationId": "get_v2_domains_domain_name_records"
      },
      "post": {
        "$ref": "resources/domains/domains_create_record.yml",
        "operationId": "post_v2_domains_domain_name_records"
      }
    },
    "/v2/domains/{domain_name}/records/{domain_record_id}": {
      "get": {
        "$ref": "resources/domains/domains_get_record.yml",
        "operationId": "get_v2_domains_domain_name_records_domain_record_id"
      },
      "patch": {
        "$ref": "resources/domains/domains_patch_record.yml",
        "operationId": "patch_v2_domains_domain_name_records_domain_record_id"
      },
      "put": {
        "$ref": "resources/domains/domains_update_record.yml",
        "operationId": "put_v2_domains_domain_name_records_domain_record_id"
      },
      "delete": {
        "$ref": "resources/domains/domains_delete_record.yml",
        "operationId": "delete_v2_domains_domain_name_records_domain_record_id"
      }
    },
    "/v2/droplets": {
      "get": {
        "$ref": "resources/droplets/droplets_list.yml",
        "operationId": "get_v2_droplets"
      },
      "post": {
        "$ref": "resources/droplets/droplets_create.yml",
        "operationId": "post_v2_droplets"
      },
      "delete": {
        "$ref": "resources/droplets/droplets_destroy_byTag.yml",
        "operationId": "delete_v2_droplets"
      }
    },
    "/v2/droplets/{droplet_id}": {
      "get": {
        "$ref": "resources/droplets/droplets_get.yml",
        "operationId": "get_v2_droplets_droplet_id"
      },
      "delete": {
        "$ref": "resources/droplets/droplets_destroy.yml",
        "operationId": "delete_v2_droplets_droplet_id"
      }
    },
    "/v2/droplets/{droplet_id}/backups": {
      "get": {
        "$ref": "resources/droplets/droplets_list_backups.yml",
        "operationId": "get_v2_droplets_droplet_id_backups"
      }
    },
    "/v2/droplets/{droplet_id}/backups/policy": {
      "get": {
        "$ref": "resources/droplets/droplets_get_backup_policy.yml",
        "operationId": "get_v2_droplets_droplet_id_backups_policy"
      }
    },
    "/v2/droplets/backups/policies": {
      "get": {
        "$ref": "resources/droplets/droplets_list_backup_policies.yml",
        "operationId": "get_v2_droplets_backups_policies"
      }
    },
    "/v2/droplets/backups/supported_policies": {
      "get": {
        "$ref": "resources/droplets/droplets_list_supported_backup_policies.yml",
        "operationId": "get_v2_droplets_backups_supported_policies"
      }
    },
    "/v2/droplets/{droplet_id}/snapshots": {
      "get": {
        "$ref": "resources/droplets/droplets_list_snapshots.yml",
        "operationId": "get_v2_droplets_droplet_id_snapshots"
      }
    },
    "/v2/droplets/{droplet_id}/actions": {
      "get": {
        "$ref": "resources/droplets/dropletActions_list.yml",
        "operationId": "get_v2_droplets_droplet_id_actions"
      },
      "post": {
        "$ref": "resources/droplets/dropletActions_post.yml",
        "operationId": "post_v2_droplets_droplet_id_actions"
      }
    },
    "/v2/droplets/actions": {
      "post": {
        "$ref": "resources/droplets/dropletActions_post_byTag.yml",
        "operationId": "post_v2_droplets_actions"
      }
    },
    "/v2/droplets/{droplet_id}/actions/{action_id}": {
      "get": {
        "$ref": "resources/droplets/dropletActions_get.yml",
        "operationId": "get_v2_droplets_droplet_id_actions_action_id"
      }
    },
    "/v2/droplets/{droplet_id}/kernels": {
      "get": {
        "$ref": "resources/droplets/droplets_list_kernels.yml",
        "operationId": "get_v2_droplets_droplet_id_kernels"
      }
    },
    "/v2/droplets/{droplet_id}/firewalls": {
      "get": {
        "$ref": "resources/droplets/droplets_list_firewalls.yml",
        "operationId": "get_v2_droplets_droplet_id_firewalls"
      }
    },
    "/v2/droplets/{droplet_id}/neighbors": {
      "get": {
        "$ref": "resources/droplets/droplets_list_neighbors.yml",
        "operationId": "get_v2_droplets_droplet_id_neighbors"
      }
    },
    "/v2/droplets/{droplet_id}/destroy_with_associated_resources": {
      "get": {
        "$ref": "resources/droplets/droplets_list_associatedResources.yml",
        "operationId": "get_v2_droplets_droplet_id_destroy_with_associated_resources"
      }
    },
    "/v2/droplets/{droplet_id}/destroy_with_associated_resources/selective": {
      "delete": {
        "$ref": "resources/droplets/droplets_destroy_withAssociatedResourcesSelective.yml",
        "operationId": "delete_v2_droplets_droplet_id_destroy_with_associated_resources_selective"
      }
    },
    "/v2/droplets/{droplet_id}/destroy_with_associated_resources/dangerous": {
      "delete": {
        "$ref": "resources/droplets/droplets_destroy_withAssociatedResourcesDangerous.yml",
        "operationId": "delete_v2_droplets_droplet_id_destroy_with_associated_resources_dangerous"
      }
    },
    "/v2/droplets/{droplet_id}/destroy_with_associated_resources/status": {
      "get": {
        "$ref": "resources/droplets/droplets_get_destroyAssociatedResourcesStatus.yml",
        "operationId": "get_v2_droplets_droplet_id_destroy_with_associated_resources_status"
      }
    },
    "/v2/droplets/{droplet_id}/destroy_with_associated_resources/retry": {
      "post": {
        "$ref": "resources/droplets/droplets_destroy_retryWithAssociatedResources.yml",
        "operationId": "post_v2_droplets_droplet_id_destroy_with_associated_resources_retry"
      }
    },
    "/v2/droplets/autoscale": {
      "get": {
        "$ref": "resources/autoscale_pools/autoscale_pool_list.yml",
        "operationId": "get_v2_droplets_autoscale"
      },
      "post": {
        "$ref": "resources/autoscale_pools/autoscale_pool_create.yml",
        "operationId": "post_v2_droplets_autoscale"
      }
    },
    "/v2/droplets/autoscale/{autoscale_pool_id}": {
      "get": {
        "$ref": "resources/autoscale_pools/autoscale_pool_get.yml",
        "operationId": "get_v2_droplets_autoscale_autoscale_pool_id"
      },
      "put": {
        "$ref": "resources/autoscale_pools/autoscale_pool_update.yml",
        "operationId": "put_v2_droplets_autoscale_autoscale_pool_id"
      },
      "delete": {
        "$ref": "resources/autoscale_pools/autoscale_pool_delete.yml",
        "operationId": "delete_v2_droplets_autoscale_autoscale_pool_id"
      }
    },
    "/v2/droplets/autoscale/{autoscale_pool_id}/dangerous": {
      "delete": {
        "$ref": "resources/autoscale_pools/autoscale_pool_delete_dangerous.yml",
        "operationId": "delete_v2_droplets_autoscale_autoscale_pool_id_dangerous"
      }
    },
    "/v2/droplets/autoscale/{autoscale_pool_id}/members": {
      "get": {
        "$ref": "resources/autoscale_pools/autoscale_pool_list_members.yml",
        "operationId": "get_v2_droplets_autoscale_autoscale_pool_id_members"
      }
    },
    "/v2/droplets/autoscale/{autoscale_pool_id}/history": {
      "get": {
        "$ref": "resources/autoscale_pools/autoscale_pool_list_history.yml",
        "operationId": "get_v2_droplets_autoscale_autoscale_pool_id_history"
      }
    },
    "/v2/firewalls": {
      "get": {
        "$ref": "resources/firewalls/firewalls_list.yml",
        "operationId": "get_v2_firewalls"
      },
      "post": {
        "$ref": "resources/firewalls/firewalls_create.yml",
        "operationId": "post_v2_firewalls"
      }
    },
    "/v2/firewalls/{firewall_id}": {
      "get": {
        "$ref": "resources/firewalls/firewalls_get.yml",
        "operationId": "get_v2_firewalls_firewall_id"
      },
      "put": {
        "$ref": "resources/firewalls/firewalls_update.yml",
        "operationId": "put_v2_firewalls_firewall_id"
      },
      "delete": {
        "$ref": "resources/firewalls/firewalls_delete.yml",
        "operationId": "delete_v2_firewalls_firewall_id"
      }
    },
    "/v2/firewalls/{firewall_id}/droplets": {
      "post": {
        "$ref": "resources/firewalls/firewalls_assign_droplets.yml",
        "operationId": "post_v2_firewalls_firewall_id_droplets"
      },
      "delete": {
        "$ref": "resources/firewalls/firewalls_delete_droplets.yml",
        "operationId": "delete_v2_firewalls_firewall_id_droplets"
      }
    },
    "/v2/firewalls/{firewall_id}/tags": {
      "post": {
        "$ref": "resources/firewalls/firewalls_add_tags.yml",
        "operationId": "post_v2_firewalls_firewall_id_tags"
      },
      "delete": {
        "$ref": "resources/firewalls/firewalls_delete_tags.yml",
        "operationId": "delete_v2_firewalls_firewall_id_tags"
      }
    },
    "/v2/firewalls/{firewall_id}/rules": {
      "post": {
        "$ref": "resources/firewalls/firewalls_add_rules.yml",
        "operationId": "post_v2_firewalls_firewall_id_rules"
      },
      "delete": {
        "$ref": "resources/firewalls/firewalls_delete_rules.yml",
        "operationId": "delete_v2_firewalls_firewall_id_rules"
      }
    },
    "/v2/floating_ips": {
      "get": {
        "$ref": "resources/floating_ips/floatingIPs_list.yml",
        "operationId": "get_v2_floating_ips"
      },
      "post": {
        "$ref": "resources/floating_ips/floatingIPs_create.yml",
        "operationId": "post_v2_floating_ips"
      }
    },
    "/v2/floating_ips/{floating_ip}": {
      "get": {
        "$ref": "resources/floating_ips/floatingIPs_get.yml",
        "operationId": "get_v2_floating_ips_floating_ip"
      },
      "delete": {
        "$ref": "resources/floating_ips/floatingIPs_delete.yml",
        "operationId": "delete_v2_floating_ips_floating_ip"
      }
    },
    "/v2/floating_ips/{floating_ip}/actions": {
      "get": {
        "$ref": "resources/floating_ips/floatingIPsAction_list.yml",
        "operationId": "get_v2_floating_ips_floating_ip_actions"
      },
      "post": {
        "$ref": "resources/floating_ips/floatingIPsAction_post.yml",
        "operationId": "post_v2_floating_ips_floating_ip_actions"
      }
    },
    "/v2/floating_ips/{floating_ip}/actions/{action_id}": {
      "get": {
        "$ref": "resources/floating_ips/floatingIPsAction_get.yml",
        "operationId": "get_v2_floating_ips_floating_ip_actions_action_id"
      }
    },
    "/v2/functions/namespaces": {
      "get": {
        "$ref": "resources/functions/functions_list_namespaces.yml",
        "operationId": "get_v2_functions_namespaces"
      },
      "post": {
        "$ref": "resources/functions/functions_create_namespace.yml",
        "operationId": "post_v2_functions_namespaces"
      }
    },
    "/v2/functions/namespaces/{namespace_id}": {
      "get": {
        "$ref": "resources/functions/functions_get_namespace.yml",
        "operationId": "get_v2_functions_namespaces_namespace_id"
      },
      "delete": {
        "$ref": "resources/functions/functions_delete_namespace.yml",
        "operationId": "delete_v2_functions_namespaces_namespace_id"
      }
    },
    "/v2/functions/namespaces/{namespace_id}/triggers": {
      "get": {
        "$ref": "resources/functions/functions_list_triggers.yml",
        "operationId": "get_v2_functions_namespaces_namespace_id_triggers"
      },
      "post": {
        "$ref": "resources/functions/functions_create_trigger.yml",
        "operationId": "post_v2_functions_namespaces_namespace_id_triggers"
      }
    },
    "/v2/functions/namespaces/{namespace_id}/triggers/{trigger_name}": {
      "get": {
        "$ref": "resources/functions/functions_get_trigger.yml",
        "operationId": "get_v2_functions_namespaces_namespace_id_triggers_trigger_name"
      },
      "put": {
        "$ref": "resources/functions/functions_update_trigger.yml",
        "operationId": "put_v2_functions_namespaces_namespace_id_triggers_trigger_name"
      },
      "delete": {
        "$ref": "resources/functions/functions_delete_trigger.yml",
        "operationId": "delete_v2_functions_namespaces_namespace_id_triggers_trigger_name"
      }
    },
    "/v2/functions/namespaces/{namespace_id}/keys": {
      "get": {
        "$ref": "resources/functions/functions_list_keys.yml",
        "operationId": "get_v2_functions_namespaces_namespace_id_keys"
      },
      "post": {
        "$ref": "resources/functions/functions_create_key.yml",
        "operationId": "post_v2_functions_namespaces_namespace_id_keys"
      }
    },
    "/v2/functions/namespaces/{namespace_id}/keys/{key_id}": {
      "put": {
        "$ref": "resources/functions/functions_update_key.yml",
        "operationId": "put_v2_functions_namespaces_namespace_id_keys_key_id"
      },
      "delete": {
        "$ref": "resources/functions/functions_delete_key.yml",
        "operationId": "delete_v2_functions_namespaces_namespace_id_keys_key_id"
      }
    },
    "/v2/images": {
      "get": {
        "$ref": "resources/images/images_list.yml",
        "operationId": "get_v2_images"
      },
      "post": {
        "$ref": "resources/images/images_create_custom.yml",
        "operationId": "post_v2_images"
      }
    },
    "/v2/images/{image_id}": {
      "get": {
        "$ref": "resources/images/images_get.yml",
        "operationId": "get_v2_images_image_id"
      },
      "put": {
        "$ref": "resources/images/images_update.yml",
        "operationId": "put_v2_images_image_id"
      },
      "delete": {
        "$ref": "resources/images/images_delete.yml",
        "operationId": "delete_v2_images_image_id"
      }
    },
    "/v2/images/{image_id}/account_transfer": {
      "post": {
        "$ref": "resources/images/images_post_account_transfer_create.yml",
        "operationId": "post_v2_images_image_id_account_transfer"
      }
    },
    "/v2/images/{image_id}/account_transfer/accept": {
      "post": {
        "$ref": "resources/images/images_post_account_transfer_accept.yml",
        "operationId": "post_v2_images_image_id_account_transfer_accept"
      }
    },
    "/v2/images/{image_id}/account_transfer/cancel": {
      "post": {
        "$ref": "resources/images/images_post_account_transfer_cancel.yml",
        "operationId": "post_v2_images_image_id_account_transfer_cancel"
      }
    },
    "/v2/images/{image_id}/account_transfer/decline": {
      "post": {
        "$ref": "resources/images/images_post_account_transfer_decline.yml",
        "operationId": "post_v2_images_image_id_account_transfer_decline"
      }
    },
    "/v2/images/{image_id}/actions": {
      "get": {
        "$ref": "resources/images/imageActions_list.yml",
        "operationId": "get_v2_images_image_id_actions"
      },
      "post": {
        "$ref": "resources/images/imageActions_post.yml",
        "operationId": "post_v2_images_image_id_actions"
      }
    },
    "/v2/images/{image_id}/actions/{action_id}": {
      "get": {
        "$ref": "resources/images/imageActions_get.yml",
        "operationId": "get_v2_images_image_id_actions_action_id"
      }
    },
    "/v2/kubernetes/clusters": {
      "get": {
        "$ref": "resources/kubernetes/kubernetes_list_clusters.yml",
        "operationId": "get_v2_kubernetes_clusters"
      },
      "post": {
        "$ref": "resources/kubernetes/kubernetes_create_cluster.yml",
        "operationId": "post_v2_kubernetes_clusters"
      }
    },
    "/v2/kubernetes/clusters/{cluster_id}": {
      "get": {
        "$ref": "resources/kubernetes/kubernetes_get_cluster.yml",
        "operationId": "get_v2_kubernetes_clusters_cluster_id"
      },
      "put": {
        "$ref": "resources/kubernetes/kubernetes_update_cluster.yml",
        "operationId": "put_v2_kubernetes_clusters_cluster_id"
      },
      "delete": {
        "$ref": "resources/kubernetes/kubernetes_delete_cluster.yml",
        "operationId": "delete_v2_kubernetes_clusters_cluster_id"
      }
    },
    "/v2/kubernetes/clusters/{cluster_id}/destroy_with_associated_resources": {
      "get": {
        "$ref": "resources/kubernetes/kubernetes_list_associatedResources.yml",
        "operationId": "get_v2_kubernetes_clusters_cluster_id_destroy_with_associated_resources"
      }
    },
    "/v2/kubernetes/clusters/{cluster_id}/destroy_with_associated_resources/selective": {
      "delete": {
        "$ref": "resources/kubernetes/kubernetes_destroy_associatedResourcesSelective.yml",
        "operationId": "delete_v2_kubernetes_clusters_cluster_id_destroy_with_associated_resources_selective"
      }
    },
    "/v2/kubernetes/clusters/{cluster_id}/destroy_with_associated_resources/dangerous": {
      "delete": {
        "$ref": "resources/kubernetes/kubernetes_destroy_associatedResourcesDangerous.yml",
        "operationId": "delete_v2_kubernetes_clusters_cluster_id_destroy_with_associated_resources_dangerous"
      }
    },
    "/v2/kubernetes/clusters/{cluster_id}/kubeconfig": {
      "get": {
        "$ref": "resources/kubernetes/kubernetes_get_kubeconfig.yml",
        "operationId": "get_v2_kubernetes_clusters_cluster_id_kubeconfig"
      }
    },
    "/v2/kubernetes/clusters/{cluster_id}/credentials": {
      "get": {
        "$ref": "resources/kubernetes/kubernetes_get_credentials.yml",
        "operationId": "get_v2_kubernetes_clusters_cluster_id_credentials"
      }
    },
    "/v2/kubernetes/clusters/{cluster_id}/upgrades": {
      "get": {
        "$ref": "resources/kubernetes/kubernetes_get_availableUpgrades.yml",
        "operationId": "get_v2_kubernetes_clusters_cluster_id_upgrades"
      }
    },
    "/v2/kubernetes/clusters/{cluster_id}/upgrade": {
      "post": {
        "$ref": "resources/kubernetes/kubernetes_upgrade_cluster.yml",
        "operationId": "post_v2_kubernetes_clusters_cluster_id_upgrade"
      }
    },
    "/v2/kubernetes/clusters/{cluster_id}/node_pools": {
      "get": {
        "$ref": "resources/kubernetes/kubernetes_list_nodePools.yml",
        "operationId": "get_v2_kubernetes_clusters_cluster_id_node_pools"
      },
      "post": {
        "$ref": "resources/kubernetes/kubernetes_add_nodePool.yml",
        "operationId": "post_v2_kubernetes_clusters_cluster_id_node_pools"
      }
    },
    "/v2/kubernetes/clusters/{cluster_id}/node_pools/{node_pool_id}": {
      "get": {
        "$ref": "resources/kubernetes/kubernetes_get_nodePool.yml",
        "operationId": "get_v2_kubernetes_clusters_cluster_id_node_pools_node_pool_id"
      },
      "put": {
        "$ref": "resources/kubernetes/kubernetes_update_nodePool.yml",
        "operationId": "put_v2_kubernetes_clusters_cluster_id_node_pools_node_pool_id"
      },
      "delete": {
        "$ref": "resources/kubernetes/kubernetes_delete_nodePool.yml",
        "operationId": "delete_v2_kubernetes_clusters_cluster_id_node_pools_node_pool_id"
      }
    },
    "/v2/kubernetes/clusters/{cluster_id}/node_pools/{node_pool_id}/nodes/{node_id}": {
      "delete": {
        "$ref": "resources/kubernetes/kubernetes_delete_node.yml",
        "operationId": "delete_v2_kubernetes_clusters_cluster_id_node_pools_node_pool_id_nodes_node_id"
      }
    },
    "/v2/kubernetes/clusters/{cluster_id}/node_pools/{node_pool_id}/recycle": {
      "post": {
        "$ref": "resources/kubernetes/kubernetes_recycle_nodePool.yml",
        "operationId": "post_v2_kubernetes_clusters_cluster_id_node_pools_node_pool_id_recycle"
      }
    },
    "/v2/kubernetes/clusters/{cluster_id}/user": {
      "get": {
        "$ref": "resources/kubernetes/kubernetes_get_clusterUser.yml",
        "operationId": "get_v2_kubernetes_clusters_cluster_id_user"
      }
    },
    "/v2/kubernetes/options": {
      "get": {
        "$ref": "resources/kubernetes/kubernetes_list_options.yml",
        "operationId": "get_v2_kubernetes_options"
      }
    },
    "/v2/kubernetes/clusters/{cluster_id}/clusterlint": {
      "post": {
        "$ref": "resources/kubernetes/kubernetes_run_clusterLint.yml",
        "operationId": "post_v2_kubernetes_clusters_cluster_id_clusterlint"
      },
      "get": {
        "$ref": "resources/kubernetes/kubernetes_get_clusterLintResults.yml",
        "operationId": "get_v2_kubernetes_clusters_cluster_id_clusterlint"
      }
    },
    "/v2/kubernetes/registry": {
      "post": {
        "$ref": "resources/kubernetes/kubernetes_add_registry.yml",
        "operationId": "post_v2_kubernetes_registry"
      },
      "delete": {
        "$ref": "resources/kubernetes/kubernetes_remove_registry.yml",
        "operationId": "delete_v2_kubernetes_registry"
      }
    },
    "/v2/kubernetes/registries": {
      "post": {
        "$ref": "resources/kubernetes/kubernetes_add_registries.yml",
        "operationId": "post_v2_kubernetes_registries"
      },
      "delete": {
        "$ref": "resources/kubernetes/kubernetes_remove_registries.yml",
        "operationId": "delete_v2_kubernetes_registries"
      }
    },
    "/v2/kubernetes/clusters/{cluster_id}/status_messages": {
      "get": {
        "$ref": "resources/kubernetes/kubernetes_get_status_messages.yml",
        "operationId": "get_v2_kubernetes_clusters_cluster_id_status_messages"
      }
    },
    "/v2/load_balancers": {
      "post": {
        "$ref": "resources/load_balancers/loadBalancers_create.yml",
        "operationId": "post_v2_load_balancers"
      },
      "get": {
        "$ref": "resources/load_balancers/loadBalancers_list.yml",
        "operationId": "get_v2_load_balancers"
      }
    },
    "/v2/load_balancers/{lb_id}": {
      "get": {
        "$ref": "resources/load_balancers/loadBalancers_get.yml",
        "operationId": "get_v2_load_balancers_lb_id"
      },
      "put": {
        "$ref": "resources/load_balancers/loadBalancers_update.yml",
        "operationId": "put_v2_load_balancers_lb_id"
      },
      "delete": {
        "$ref": "resources/load_balancers/loadBalancers_delete.yml",
        "operationId": "delete_v2_load_balancers_lb_id"
      }
    },
    "/v2/load_balancers/{lb_id}/cache": {
      "delete": {
        "$ref": "resources/load_balancers/loadBalancers_delete_cache.yml",
        "operationId": "delete_v2_load_balancers_lb_id_cache"
      }
    },
    "/v2/load_balancers/{lb_id}/droplets": {
      "post": {
        "$ref": "resources/load_balancers/loadBalancers_add_droplets.yml",
        "operationId": "post_v2_load_balancers_lb_id_droplets"
      },
      "delete": {
        "$ref": "resources/load_balancers/loadBalancers_remove_droplets.yml",
        "operationId": "delete_v2_load_balancers_lb_id_droplets"
      }
    },
    "/v2/load_balancers/{lb_id}/forwarding_rules": {
      "post": {
        "$ref": "resources/load_balancers/loadBalancers_add_forwardingRules.yml",
        "operationId": "post_v2_load_balancers_lb_id_forwarding_rules"
      },
      "delete": {
        "$ref": "resources/load_balancers/loadBalancers_remove_forwardingRules.yml",
        "operationId": "delete_v2_load_balancers_lb_id_forwarding_rules"
      }
    },
    "/v2/monitoring/alerts": {
      "get": {
        "$ref": "resources/monitoring/monitoring_list_alertPolicy.yml",
        "operationId": "get_v2_monitoring_alerts"
      },
      "post": {
        "$ref": "resources/monitoring/monitoring_create_alertPolicy.yml",
        "operationId": "post_v2_monitoring_alerts"
      }
    },
    "/v2/monitoring/alerts/{alert_uuid}": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_alertPolicy.yml",
        "operationId": "get_v2_monitoring_alerts_alert_uuid"
      },
      "put": {
        "$ref": "resources/monitoring/monitoring_update_alertPolicy.yml",
        "operationId": "put_v2_monitoring_alerts_alert_uuid"
      },
      "delete": {
        "$ref": "resources/monitoring/monitoring_delete_alertPolicy.yml",
        "operationId": "delete_v2_monitoring_alerts_alert_uuid"
      }
    },
    "/v2/monitoring/metrics/droplet/bandwidth": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_dropletBandwidthMetrics.yml",
        "operationId": "get_v2_monitoring_metrics_droplet_bandwidth"
      }
    },
    "/v2/monitoring/metrics/droplet/cpu": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_DropletCpuMetrics.yml",
        "operationId": "get_v2_monitoring_metrics_droplet_cpu"
      }
    },
    "/v2/monitoring/metrics/droplet/filesystem_free": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_dropletFilesystemFreeMetrics.yml",
        "operationId": "get_v2_monitoring_metrics_droplet_filesystem_free"
      }
    },
    "/v2/monitoring/metrics/droplet/filesystem_size": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_dropletFilesystemSizeMetrics.yml",
        "operationId": "get_v2_monitoring_metrics_droplet_filesystem_size"
      }
    },
    "/v2/monitoring/metrics/droplet/load_1": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_dropletLoad1Metrics.yml",
        "operationId": "get_v2_monitoring_metrics_droplet_load_1"
      }
    },
    "/v2/monitoring/metrics/droplet/load_5": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_dropletLoad5Metrics.yml",
        "operationId": "get_v2_monitoring_metrics_droplet_load_5"
      }
    },
    "/v2/monitoring/metrics/droplet/load_15": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_dropletLoad15Metrics.yml",
        "operationId": "get_v2_monitoring_metrics_droplet_load_15"
      }
    },
    "/v2/monitoring/metrics/droplet/memory_cached": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_dropletMemoryCachedMetrics.yml",
        "operationId": "get_v2_monitoring_metrics_droplet_memory_cached"
      }
    },
    "/v2/monitoring/metrics/droplet/memory_free": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_dropletMemoryFreeMetrics.yml",
        "operationId": "get_v2_monitoring_metrics_droplet_memory_free"
      }
    },
    "/v2/monitoring/metrics/droplet/memory_total": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_dropletMemoryTotalMetrics.yml",
        "operationId": "get_v2_monitoring_metrics_droplet_memory_total"
      }
    },
    "/v2/monitoring/metrics/droplet/memory_available": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_dropletMemoryAvailableMetrics.yml",
        "operationId": "get_v2_monitoring_metrics_droplet_memory_available"
      }
    },
    "/v2/monitoring/metrics/apps/memory_percentage": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_appMemoryPercentageMetrics.yml",
        "operationId": "get_v2_monitoring_metrics_apps_memory_percentage"
      }
    },
    "/v2/monitoring/metrics/apps/cpu_percentage": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_appCPUPercentageMetrics.yml",
        "operationId": "get_v2_monitoring_metrics_apps_cpu_percentage"
      }
    },
    "/v2/monitoring/metrics/apps/restart_count": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_appRestartCountMetrics.yml",
        "operationId": "get_v2_monitoring_metrics_apps_restart_count"
      }
    },
    "/v2/monitoring/metrics/load_balancer/frontend_connections_current": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_lb_frontend_connections_current.yml",
        "operationId": "get_v2_monitoring_metrics_load_balancer_frontend_connections_current"
      }
    },
    "/v2/monitoring/metrics/load_balancer/frontend_connections_limit": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_lb_frontend_connections_limit.yml",
        "operationId": "get_v2_monitoring_metrics_load_balancer_frontend_connections_limit"
      }
    },
    "/v2/monitoring/metrics/load_balancer/frontend_cpu_utilization": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_lb_frontend_cpu_utilization.yml",
        "operationId": "get_v2_monitoring_metrics_load_balancer_frontend_cpu_utilization"
      }
    },
    "/v2/monitoring/metrics/load_balancer/frontend_firewall_dropped_bytes": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_lb_frontend_firewall_dropped_bytes.yml",
        "operationId": "get_v2_monitoring_metrics_load_balancer_frontend_firewall_dropped_bytes"
      }
    },
    "/v2/monitoring/metrics/load_balancer/frontend_firewall_dropped_packets": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_lb_frontend_firewall_dropped_packets.yml",
        "operationId": "get_v2_monitoring_metrics_load_balancer_frontend_firewall_dropped_packets"
      }
    },
    "/v2/monitoring/metrics/load_balancer/frontend_http_responses": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_lb_frontend_http_responses.yml",
        "operationId": "get_v2_monitoring_metrics_load_balancer_frontend_http_responses"
      }
    },
    "/v2/monitoring/metrics/load_balancer/frontend_http_requests_per_second": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_lb_frontend_http_requests_per_second.yml",
        "operationId": "get_v2_monitoring_metrics_load_balancer_frontend_http_requests_per_second"
      }
    },
    "/v2/monitoring/metrics/load_balancer/frontend_network_throughput_http": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_lb_frontend_network_throughput_http.yml",
        "operationId": "get_v2_monitoring_metrics_load_balancer_frontend_network_throughput_http"
      }
    },
    "/v2/monitoring/metrics/load_balancer/frontend_network_throughput_udp": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_lb_frontend_network_throughput_udp.yml",
        "operationId": "get_v2_monitoring_metrics_load_balancer_frontend_network_throughput_udp"
      }
    },
    "/v2/monitoring/metrics/load_balancer/frontend_network_throughput_tcp": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_lb_frontend_network_throughput_tcp.yml",
        "operationId": "get_v2_monitoring_metrics_load_balancer_frontend_network_throughput_tcp"
      }
    },
    "/v2/monitoring/metrics/load_balancer/frontend_nlb_tcp_network_throughput": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_lb_frontend_nlb_tcp_network_throughput.yml",
        "operationId": "get_v2_monitoring_metrics_load_balancer_frontend_nlb_tcp_network_throughput"
      }
    },
    "/v2/monitoring/metrics/load_balancer/frontend_nlb_udp_network_throughput": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_lb_frontend_nlb_udp_network_throughput.yml",
        "operationId": "get_v2_monitoring_metrics_load_balancer_frontend_nlb_udp_network_throughput"
      }
    },
    "/v2/monitoring/metrics/load_balancer/frontend_tls_connections_current": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_lb_frontend_tls_connections_current.yml",
        "operationId": "get_v2_monitoring_metrics_load_balancer_frontend_tls_connections_current"
      }
    },
    "/v2/monitoring/metrics/load_balancer/frontend_tls_connections_limit": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_lb_frontend_tls_connections_limit.yml",
        "operationId": "get_v2_monitoring_metrics_load_balancer_frontend_tls_connections_limit"
      }
    },
    "/v2/monitoring/metrics/load_balancer/frontend_tls_connections_exceeding_rate_limit": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_lb_frontend_tls_connections_exceeding_rate_limit.yml",
        "operationId": "get_v2_monitoring_metrics_load_balancer_frontend_tls_connections_exceeding_rate_limit"
      }
    },
    "/v2/monitoring/metrics/load_balancer/droplets_http_session_duration_avg": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_lb_droplets_http_session_duration_avg.yml",
        "operationId": "get_v2_monitoring_metrics_load_balancer_droplets_http_session_duration_avg"
      }
    },
    "/v2/monitoring/metrics/load_balancer/droplets_http_session_duration_50p": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_lb_droplets_http_session_duration_50p.yml",
        "operationId": "get_v2_monitoring_metrics_load_balancer_droplets_http_session_duration_50p"
      }
    },
    "/v2/monitoring/metrics/load_balancer/droplets_http_session_duration_95p": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_lb_droplets_http_session_duration_95p.yml",
        "operationId": "get_v2_monitoring_metrics_load_balancer_droplets_http_session_duration_95p"
      }
    },
    "/v2/monitoring/metrics/load_balancer/droplets_http_response_time_avg": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_lb_droplets_http_response_time_avg.yml",
        "operationId": "get_v2_monitoring_metrics_load_balancer_droplets_http_response_time_avg"
      }
    },
    "/v2/monitoring/metrics/load_balancer/droplets_http_response_time_50p": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_lb_droplets_http_response_time_50p.yml",
        "operationId": "get_v2_monitoring_metrics_load_balancer_droplets_http_response_time_50p"
      }
    },
    "/v2/monitoring/metrics/load_balancer/droplets_http_response_time_95p": {
      "get": {
        "$ref": "resources/monitoring/monitoring_get_lb_droplets_http_response_time_95p.yml",
        "operationId": "get_v2_monitoring_metrics_load_balancer_droplets_http_response_time_95p"
      }
    },
[...]
