{
  "openapi": "3.0.3",
  "info": {
    "title": "Airtable REST API",
    "version": "0.1.0",
    "description": "Airtable is a low-code platform for building collaborative apps. The REST API allows you to create, read, update, and delete records in Airtable bases, manage tables and fields, and automate workflows. Each Airtable base has a unique API that mirrors its structure.",
    "contact": {
      "name": "Airtable Developer Community",
      "url": "https://community.airtable.com/c/developer-questions"
    },
    "license": {
      "name": "MIT"
    },
    "x-logo": {
      "url": "https://airtable.com/favicon.ico"
    }
  },
  "externalDocs": {
    "description": "Airtable API Documentation",
    "url": "https://airtable.com/developers/web/api/introduction"
  },
  "servers": [
    {
      "url": "https://api.airtable.com/v0",
      "description": "Airtable REST API v0"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/{baseId}/{tableIdOrName}": {
      "get": {
        "operationId": "listRecords",
        "summary": "List records",
        "description": "Returns a list of records in a specified table. Records are returned in the order they appear in the table view. You can filter, sort, and paginate the results using query parameters.",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "description": "The Airtable base ID (starts with 'app')",
            "schema": {
              "type": "string",
              "pattern": "^app[a-zA-Z0-9]+$"
            }
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "description": "The table ID (starts with 'tbl') or table name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[]",
            "in": "query",
            "description": "Field names to include in the response. If not specified, all fields are returned.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterByFormula",
            "in": "query",
            "description": "An Airtable formula to filter records (e.g. '{Status}=\"Done\"')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxRecords",
            "in": "query",
            "description": "Maximum number of records to return (max 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records per page (default 100, max 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset string returned from a previous request",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "view",
            "in": "query",
            "description": "Name or ID of a view to filter and sort records",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort[0][field]",
            "in": "query",
            "description": "Field name to sort by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort[0][direction]",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "post": {
        "operationId": "createRecord",
        "summary": "Create a record",
        "description": "Create one or more new records in a table. Pass fields as an object where keys are field names and values are the field data. Airtable will return the created records with their assigned IDs.",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "description": "The Airtable base ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "description": "The table ID or name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRecordsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRecordsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "patch": {
        "operationId": "updateRecords",
        "summary": "Update multiple records",
        "description": "Update multiple records in a table. Pass an array of objects, each with an 'id' and 'fields' property. Only the specified fields are updated; other fields are unchanged (partial update).",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "description": "The Airtable base ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "description": "The table ID or name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRecordsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateRecordsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "operationId": "deleteRecords",
        "summary": "Delete records",
        "description": "Delete one or more records from a table by their record IDs. This operation is permanent and cannot be undone.",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "description": "The Airtable base ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "description": "The table ID or name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "records[]",
            "in": "query",
            "required": true,
            "description": "Record IDs to delete",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Records deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteRecordsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/{baseId}/{tableIdOrName}/{recordId}": {
      "get": {
        "operationId": "getRecord",
        "summary": "Get a record",
        "description": "Retrieve a single record by its ID from a specified table. Returns the record's fields and metadata.",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "description": "The Airtable base ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "description": "The table ID or name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "description": "The record ID (starts with 'rec')",
            "schema": {
              "type": "string",
              "pattern": "^rec[a-zA-Z0-9]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "replaceRecord",
        "summary": "Replace a record",
        "description": "Replace all fields in a record. Unlike PATCH, any fields not included in the request will be cleared to their default empty state.",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "description": "The Airtable base ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "description": "The table ID or name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "description": "The record ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRecordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteRecord",
        "summary": "Delete a record",
        "description": "Permanently delete a single record from the specified table by its record ID.",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "description": "The Airtable base ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "description": "The table ID or name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "description": "The record ID to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteRecordResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/meta/bases": {
      "get": {
        "operationId": "listBases",
        "summary": "List bases",
        "description": "Returns a list of bases that the current API token has access to. Includes base ID, name, and permission level.",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset for fetching the next page",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of accessible bases",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/meta/bases/{baseId}/tables": {
      "get": {
        "operationId": "listTables",
        "summary": "List tables in a base",
        "description": "Returns schema information for all tables in the specified base, including table names, field definitions, and view configurations.",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "description": "The Airtable base ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table schemas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TableList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Airtable personal access token or OAuth 2.0 access token"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentication required — provide a valid API token",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Insufficient permissions to access this resource",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Base, table, or record not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Invalid field values or formula",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Record": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The record ID (starts with 'rec')"
          },
          "fields": {
            "type": "object",
            "additionalProperties": true,
            "description": "Field values keyed by field name"
          },
          "createdTime": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the record was created"
          }
        }
      },
      "RecordList": {
        "type": "object",
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Record"
            }
          },
          "offset": {
            "type": "string",
            "description": "Pagination cursor for the next page of results"
          }
        }
      },
      "CreateRecordsRequest": {
        "type": "object",
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "fields": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Field values for the new record"
                }
              }
            },
            "description": "Array of records to create (max 10)"
          },
          "typecast": {
            "type": "boolean",
            "description": "Automatically convert string values to the appropriate field type"
          },
          "returnFieldsByFieldId": {
            "type": "boolean",
            "description": "Return field keys as field IDs instead of names"
          }
        }
      },
      "CreateRecordsResponse": {
        "type": "object",
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Record"
            }
          }
        }
      },
      "UpdateRecordRequest": {
        "type": "object",
        "properties": {
          "fields": {
            "type": "object",
            "additionalProperties": true,
            "description": "Fields to update"
          }
        }
      },
      "UpdateRecordsRequest": {
        "type": "object",
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Record ID to update"
                },
                "fields": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Fields to update"
                }
              }
            }
          }
        }
      },
      "UpdateRecordsResponse": {
        "type": "object",
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Record"
            }
          }
        }
      },
      "DeleteRecordResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "DeleteRecordsResponse": {
        "type": "object",
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeleteRecordResponse"
            }
          }
        }
      },
      "Base": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Base ID"
          },
          "name": {
            "type": "string",
            "description": "Base name"
          },
          "permissionLevel": {
            "type": "string",
            "enum": [
              "none",
              "read",
              "comment",
              "edit",
              "create"
            ],
            "description": "Permission level for the current user"
          }
        }
      },
      "BaseList": {
        "type": "object",
        "properties": {
          "bases": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Base"
            }
          },
          "offset": {
            "type": "string"
          }
        }
      },
      "Field": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "Field type (singleLineText, multilineText, number, date, etc.)"
          },
          "description": {
            "type": "string"
          },
          "options": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "Table": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Field"
            }
          },
          "views": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "TableList": {
        "type": "object",
        "properties": {
          "tables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Table"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
